:root {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
}

body {
  background-image: url(assets/image.png);
  background-size: cover;
  overflow: hidden;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.card {
  cursor: pointer;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  background-color: #fff;

  .loader {
    width: 50px; 
    height: 50px;
    border: 5px solid #e0e0e0;
    border-top: 5px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  } 
}

.poke-border-1 {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 
        0 0 0 4px black,
        0 0 0 12px #FF0000;
    margin: 12px; 
}

.card {
    padding: 20px;
    opacity: 100%;
    background-color: rgba( #FFFBEA, 0.5);
    border: 10px solid transparent;
    border-image: repeating-linear-gradient(
    45deg,
      #FFD700,
      #FFD700 10px,
      black 10px,
      black 20px
    ) 10;
}